body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
}
.menu {
	width: 100%;
	height: 100%;
	background-color: #7a7c7f;
}
.game__field,
.game__stats {
	display: flex;
	flex-direction: row;
}
.choose-difficulty {
	display: flex;
	flex-direction: column;
}
.menu__choose-difficulty {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
}
.choose-difficulty {
	margin: 0 auto;
	align-items: center;
}
.choose-difficulty__button {
	width: 100px;
	height: 40px;
	margin-bottom: 1rem;
}
.mine-sweeper {
	width: 100%;
	height: 100%;
	background-color: #7a7c7f;
}
.mine-sweeper__game {
	margin: 0 auto;
	width: 1024px;
	height: 600px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}
.game__field {
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.game__stats {
	justify-content: space-between;
}
/*------------------Testing style attributes---------------------*/
.stats__mines {
	width: 80px;
	height: 40px;
	margin: 5px;
	background-color: #fff;
}
.stats__face {
	width: 40px;
	height: 40px;
	margin: 5px;
	background-color: #fff;
}
.stats__timer {
	width: 80px;
	height: 40px;
	margin: 5px;
	background-color: #fff;
}
/*------------------JS style attributes---------------------*/
.hideElement {
	display: none;
}
.cellClass {
	height: 28px;
	width: 28px;
	border-radius: 2px;
	background-color: #6a6c6f;
	border: 2px solid #000;
	margin:1px;
}
.cellClassOpen {
	height: 28px;
	width: 28px;
	border-radius: 2px;
	background-color: #fff;
	border: 2px solid #000;
	margin:1px;	
}
.bombImage {
	margin: 4px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	width: 20px;
	height: 20px;
}
.flagImage {
	margin: 4px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	width: 20px;
	height: 20px;
}
.beginnerField {
	width: 306px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 306px;
}
.amateurField {
	width: 544px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 544px;
}
.expertField {
	width: 1020px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 544px;
}
.cellText {
	color: blue;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
