html {
	/*background-color: #7a7c7f;*/
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}
.menu {
	width: 100%;
	height: 100vh;
	background-color: #7a7c7f;
}
.game__field,
.game__stats {
	display: flex;
	flex-direction: row;
}
.choose-difficulty,
.menu__choose-difficulty,
.mine-sweeper,
.game__footer {
	display: flex;
	flex-direction: column;
}
.menu__choose-difficulty {
	margin: 0 auto;
	width: 1024px;
	height: 100%;
	justify-content: center;
}
.choose-difficulty {
	/*justify-content: center;*/
	margin: auto;
	align-items: center;
}
.choose-difficulty__button {
	width: 100px;
	height: 40px;
	margin-bottom: 1rem;
	border: 2px solid #000;
	border-radius: 5px;
	background-color: #fff;

}
.mine-sweeper {
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #7a7c7f;
}
.mine-sweeper__game {
	margin: 0 auto;
	width: 1024px;
}
.game__field {
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.game__stats {
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}
.stats__mines {
	width: 80px;
	height: 40px;
	margin: 5px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #fff;
	text-align: center;
	border: 2px solid #000;
	border-radius: 5px;
}
.stats__mines > p {
	margin: 0;
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 20px;
	
}
/*.stats__face {
	width: 40px;
	height: 40px;
	margin: 5px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 5px;
} may be later*/
.stats__timer {
	width: 80px;
	height: 40px;
	margin: 5px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #fff;
	text-align: center;
	border: 2px solid #000;
	border-radius: 5px;
}
.stats__timer > p {
	margin: 0;
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 20px;
}
.footer__button {
	width: 100px;
	height: 40px;
	margin: 0 auto;
	margin-top: 1rem;
	border: 2px solid #000;
	border-radius: 5px;
	background-color: #fff;
}
.game__footer {
	text-align: center;
}
/*.game__footer > p {
	
}*/
/*------------------JS style attributes---------------------*/
.hideElement {
	display: none;
}
.cellClass {
	height: 28px;
	width: 28px;
	border-radius: 2px;
	background-color: #6a6c6f;
	border: 2px solid #000;
	margin:1px;
}
.cellClassOpen {
	height: 28px;
	width: 28px;
	border-radius: 2px;
	background-color: #fff;
	border: 2px solid #000;
	margin:1px;	
}
.cellClassOpenMine {
	height: 28px;
	width: 28px;
	border-radius: 2px;
	background-color: #d01616;
	border: 2px solid #000;
	margin:1px;	
}
.bombImage {
	margin: 4px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	width: 20px;
	height: 20px;
}
.flagImage {
	margin: 4px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	width: 20px;
	height: 20px;
}
.beginnerField {
	width: 306px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 306px;
}
.game__statsBeginner {
	width: 306px;
}
.amateurField {
	width: 544px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 544px;
}
.game__statsAmateur {
	width: 544px;
}
.expertField {
	width: 1020px;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 544px;
}
.game__statsExpert {
	width: 1020px;
}
.cellText {
	color: blue;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

